# Created by .ignore support plugin (hsz.mobi)
.idea
/composer.json
/.htaccess
/vendor/
/index.php
/sample-robots.txt
/README.md
/manager/
/assets/lib/Helpers/
/assets/lib/class.modxRTEbridge.php
/assets/lib/Formatter/
/assets/lib/APIHelpers.class.php
/assets/lib/class.summary.php
/assets/lib/.htaccess
/assets/lib/SimpleTab/
/assets/lib/MODxAPI/
/assets/lib/Module/
/assets/plugins/qm/
/assets/plugins/managermanager/
/assets/plugins/tinymce4/
/assets/plugins/transalias/
/assets/plugins/forgotmanagerlogin/
/assets/plugins/codemirror/
/assets/plugins/filesource/
/assets/plugins/index.html
/assets/plugins/extrascheck/
/assets/plugins/elementsintree/
/assets/plugins/updater/
/assets/js/
/assets/files/
/assets/docs/
/assets/snippets/
/assets/modules/
/assets/site/
/assets/cache/
/assets/tvs/
/assets/backup/
/assets/import/
/assets/.thumbs/
/assets/templates/
/assets/index.html
/assets/export/
/assets/images/
